// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$color-foreground-0 : #FFFFFF;
$color-foreground-1 : #4F4545;
$color-foreground-2 : #221B1B;

$color-background-0 : #1c1b1b;
$color-background-1 : #322622;

$font-title : "DM Serif Display";
$font-generic : "Inter";

$size-bread    : 12px;
$size-subtitle : 24px;
$size-title    : 36px;

